body {
  background-color:beige;
}

.recycledItems {
  display: flex;
  flex-direction: column;
  width: 55.5%;
  gap: 5px;
  margin-top: 10px;
}

.item {
  border: 1px solid rgb(55, 53, 53);
  margin-bottom: 10px;
  background-color: rgb(165, 156, 156);
  color: rgb(24, 22, 22);
}

.delete-btn {
  font-weight: bold;
  border-color: rgb(48, 45, 45);
  background-color: rgb(209, 78, 78);
}

.edit-btn {
  font-weight: bold;
  border-color: rgb(33, 30, 30);
}
